<div>
  <input ng-change="vm.search(vm.description)" ng-model="vm.description" ng-model-options="{ debounce: 300 }" class="form-control" type="text" placeholder="Text search">
  <p ng-show="vm.error" class="text-danger" ng-bind="vm.error"></p>
</div>
<div>
  <a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">Random article</a>
</div>
<div class="list-group">
  <a href="{{ page.url }}" target="_blank" class="list-group-item" ng-repeat="page in vm.pages">
    <h4 class="list-group-item-heading">{{ page.title }}</h4>
    <p class="list-group-item-text">{{ page.extract }}</p>
  </a>
</div>
